//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
  border: 1px solid $indigo;
  border-radius: 6px;
  display: inline-flex;
  text-align: center;
  padding: 11px 32px;
  font-weight: 500;
  line-height: math.div(28, 18);
  color: $indigo;
  transition: all 0.3s ease-out;
  @media (any-hover: hover) {
    &:hover {
      background-color: $indigo;
      color: #ffffff;
    }
  }
  &_bg {
    background-color: $indigo;
    color: #ffffff;
    &:hover {
      background-color: transparent;
      color: $indigo;
    }
  }
  &--fw {
    width: 100%;
  }
}
