.header {
  &__container {
    display: flex;
    align-items: center;
    //*по замовчуванню стоїть 200 і буде повільно рухатися до 80
    @include adaptiveValue("min-height", 200, 80);
  }
  &__logo {
    height: 62px;
    width: 62px;
    background: #eeebff;
    border-radius: 50%;
    flex: 0 0 62px; //* flex-grow / flex-shrink / flex-basis
    display: flex;
    //*fbc + enter = justify-content: center; align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: toRem(24);
    line-height: 1.33em;
    color: #7b61ff;
    transform: rotate(30deg);
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0 0 0 toRem(10); //*щоб не було злипання
  }

  &__button {
  }
}
.menu {
  display: flex;
  align-items: center;
  flex: 1 1 auto;

  &__icon {
  }

  &__body {
    flex: 1 1 auto;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__item {
    // *отзивчиваое свойство av + enter
    @include adaptiveValue("margin-right", 80, 10);
  }

  &__link {
    color: $grey;
    font-weight: 500;
    line-height: math.div(28, 18);
    //* hhv + enter = @media hover
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.icon-menu {
}
